# VacationPy

In [36]:
import pandas as pd
import gmaps
import numpy as np
import json 
from citipy import citipy
import requests
import matplotlib.pyplot as plt

In [37]:
cities_df = pd.read_csv("../WeatherPy/Weather_per_city.csv")
cities_df.head()

,Lat,Long,City,Country,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,47.529538,47.354948,kharabali,ru,63.00,65.0,7.0,1.01
1,-81.502482,50.947896,port alfred,za,63.00,88.0,97.0,3.00
2,3.647494,22.152331,ouango,cf,69.85,96.0,96.0,1.39
3,-47.187824,-175.492679,vaini,to,80.60,61.0,20.0,8.05
4,-80.361615,-82.873078,ushuaia,ar,41.00,75.0,75.0,23.04

In [38]:
cities_df.dropna(inplace=True)

cities_df = cities_df[cities_df["Wind Speed (mph)"] < 10]
cities_df = cities_df[cities_df["Cloudiness (%)"] == 0]
cities_df = cities_df[cities_df["Temperature (F)"] < 80]
cities_df = cities_df[cities_df["Temperature (F)"] > 70]

locations = cities_df[["Lat", "Long"]]
humidity = cities_df["Humidity (%)"].astype("float")

In [129]:
cities_df

,Lat,Long,City,Country,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
13,-23.661175,-25.522666,caravelas,br,71.80,68.0,0.0,4.09
17,20.500708,74.472926,malegaon,in,78.01,27.0,0.0,3.94
150,-19.520253,116.979832,karratha,au,72.03,36.0,0.0,8.39
398,-23.536143,-43.915601,mangaratiba,br,75.20,60.0,0.0,4.70
465,17.234163,7.233139,agadez,ne,79.14,14.0,0.0,2.66
469,-28.655962,-32.606459,sao joao da barra,br,73.40,78.0,0.0,8.05
548,20.160392,25.477690,kutum,sd,70.57,20.0,0.0,6.13
594,23.700383,74.591455,banswara,in,79.12,36.0,0.0,3.02

In [78]:
arr = []
for i in range(len(cities_df)):
    temp = list(cities_df['Lat'])[i]
    temp2 = list(cities_df['Long'])[i]
    var = str(temp)+", "+str(temp2)
    arr.append(var)
arr[3]

'-23.53614324626814, -43.91560070419939'

In [135]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(
    locations,
    weights = humidity,
    dissipating = False,
    max_intensity = 25,
    point_radius = 1
)

marker_locations =  cities_df[["Lat", "Long"]]
markers = gmaps.marker_layer(marker_locations)
fig.add_layer(markers)

'''
nuclear_power_plants = [
    {'name': cities_df["City"], 'location': cities_df[["Lat", "Long"]], 'active_reactors': 1},
]

plant_locations = [plant['location'] for plant in nuclear_power_plants]
info_box_template = """
<dl>
<dt>Name</dt><dd>{name}</dd>
<dt>Number reactors</dt><dd>{active_reactors}</dd>
</dl>
"""
plant_info = [info_box_template.format(**plant) for plant in nuclear_power_plants]
'''

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [113]:
cities_df

,Lat,Long,City,Country,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
13,-23.661175,-25.522666,caravelas,br,71.80,68.0,0.0,4.09
17,20.500708,74.472926,malegaon,in,78.01,27.0,0.0,3.94
150,-19.520253,116.979832,karratha,au,72.03,36.0,0.0,8.39
398,-23.536143,-43.915601,mangaratiba,br,75.20,60.0,0.0,4.70
465,17.234163,7.233139,agadez,ne,79.14,14.0,0.0,2.66
469,-28.655962,-32.606459,sao joao da barra,br,73.40,78.0,0.0,8.05
548,20.160392,25.477690,kutum,sd,70.57,20.0,0.0,6.13
594,23.700383,74.591455,banswara,in,79.12,36.0,0.0,3.02

In [138]:
target_type = "lodging"
seattle_coords = "47.6062095, -122.3320708"
city_coords = arr
radius = 5000

gkey = "AIzaSyBqqScj450fHAkQ3A6OwWKvHU5hMh_fWzY"
gmaps.configure(api_key=gkey)

params = {
    "location": city_coords,
    "type": target_type,
    "radius": radius,
    "key": gkey
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
"""print(requests.get(base_url, params = params))
print(response["results"][0]["name"])
lt = response["results"][0]["geometry"]["location"]["lat"]
lg = response["results"][0]["geometry"]["location"]["lng"]
print(response["results"][0]["vicinity"])
print(lt)
print(lg)"""

'print(requests.get(base_url, params = params))\nprint(response["results"][0]["name"])\nlt = response["results"][0]["geometry"]["location"]["lat"]\nlg = response["results"][0]["geometry"]["location"]["lng"]\nprint(response["results"][0]["vicinity"])\nprint(lt)\nprint(lg)'